body{
    margin:0;
    background: rgb(240, 221, 163);
    height:100vh;
}
.svg-icons{
    width: 2.6rem;
    height: 2.6rem;
}
.title{
    width: 100%;
    height: 4.25rem;
    background: rgb(158, 178, 169);
    margin: 0;
}
.title-text{
    width: 29.94rem;
    height: 4rem;
    color: rgb(0, 0, 0);
    font-family: Joti One, sans-serif;
    font-size: 3rem;
    font-weight: 400;
    line-height: 4rem;
    letter-spacing: 0;
    text-align: left;
    margin: 0 0 0 1rem;
}
.input-area{
    display: flex;
    justify-content: center;
}
#input-area-create, #input-area-join{
    width: 21.44rem;
    height: 20.19rem;
    box-sizing: border-box;
    border: 0.31rem solid rgb(0, 0, 0);
    border-radius: 1.25rem;
    background: rgb(113, 133, 137);
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-area-create-item, .input-area-join-item{
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}
.input-area-create-buttons, .input-area-join-buttons{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
    flex-direction: row;
}

.show-content{
    display: flex;
    height: 93%;
    justify-content: center;
}
.show-lobbies{
    border-radius: 1.25rem 1.25rem 0 0;
    background: rgb(122, 153, 139);
    width: 82.06rem;
    height: 93%;
    margin-top: 12rem;
}
#input-add-lobby{
    border-radius: 0.75rem;
    background: rgb(153, 206, 224);
    width: 3.75rem;
    height: 3.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
#container-lobbies{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
}
.lobby-container{
    margin-top: 2rem;
    border-radius: 1.75rem;
    background: rgb(153, 206, 224);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.lobby-container-name{
    margin: 0.4rem 0.4rem 0.4rem 1rem;
    font-family: Kite One, sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.19rem;
    letter-spacing: 0;
    text-align: left;
}
.lobby-container-actions{
    margin: 0.4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 6rem;
    justify-content: space-between;
}
.btn-join-lobby{
    cursor: pointer;
}